@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search_area * {
  font-family: "Open Sans", sans-serif;
}
.pac-container {
  box-shadow: 0 0 30px -12px rgb(0 0 0 / 25%);
  border-radius: 8px;
  border: none;
}
.pac-item {
  padding: 0.5rem;
}
.pac-item:nth-child(1) {
  border: none;
}
/* .pac-icon {
  font-size: 3rem !important;
  width: 30px;
} */
.pac-item-query {
  color: #2c3d55;
  font-weight: bold;
}

.search_area {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  max-width: min(95%, 1140px);
  margin: auto;
  box-shadow: 0 0 30px -12px rgb(0 0 0 / 25%);
  gap: 3rem;
  font-family: serif;
  border-radius: 8px;
  /* margin will be removed */
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.search_area-left {
  display: grid;
  gap: 1rem;
  width: 60%;
}
.search_area-left--title {
  line-height: 1.5;
  font-weight: 400;
  font-size: 28px;
  color: #555;
  text-transform: capitalize;
}
.search_area-input-group {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #ddd;
  padding: 0.4rem 0.5rem;
  border-radius: 8px;
}

.search_area-input-group .location-icon {
  color: #2c3d55;
}
.search_area-input-group input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  background: none;
}
.search_area-input-group button {
  border: none;
  padding: 0.6rem 1.4rem;
  border-radius: 8px;
  background: #2c3d55;
  color: #fff;
  font-size: 0.85714rem;
  transition: 0.2s;
}
.search_area-input-group button:hover {
  background: #d01337;
  cursor: pointer;
}
.search_area--result {
  background: none;
  border: 1px solid #ddd;
  padding: 1.5rem 1.2rem;
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  border-radius: 8px;
  transition: 0.5s linear;
  color: #555;
  align-items: center;
  position: relative;
}

.search-area--result-header .result-area-name {
  font-weight: 400;
}
.search-area--result-content {
  width: 100%;
  /* display: flex; */
  gap: 0.6rem;
  /* justify-content: space-between; */
  /* gap: 1.5rem; */
}
.search-area--result-content-header {
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
}
.search-area--result-content-header h3 {
  flex: 1;
}
.search-area--result-content > div {
  flex: 1;
  transition: 0.2s;
  overflow: hidden;
}

.gearbox-title {
  background: #2c3d55;
  padding: 0.3rem;
  text-align: center;
  font-weight: 400;
  color: #eee;
  border-radius: 4px;
  transition: 0.2s;
  cursor: pointer;
}
.gearbox-title.disabled {
  background: #eee;
  border: 1px solid #2c3d55;
  color: #2c3d55;
  transition: 0.2s;
}
.gearbox-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.6rem;
  margin-top: 1rem;
  transition: 0.3s linear;
}
.gearbox-cards.disabled {
  margin-top: 0;
  opacity: 0;
  max-height: 0;
  max-width: 0;
}
.manual-cards.disabled {
  transform: translateX(100%);
}
.auto-cards.disabled {
  transform: translateX(-100%);
}

.gearbox-card {
  display: grid;
  place-items: center;
  gap: 0.4rem;
  border: 1px solid #ddd;
  flex: 1;
  border-radius: 8px;
  padding: 0.5rem;
  width: 100%;
  transition: 0.2s;
}
.auto-cards .gearbox-card {
  border-color: #72c02d;
}
.manual-cards .gearbox-card {
  border-color: #007bff;
}
.gearbox-card:hover {
  background: #2c3d55;
}
.gearbox-card:hover span:nth-child(1),
.gearbox-card:hover span:nth-child(3) {
  color: #fff;
}

.gearbox-card:hover span:nth-child(2) {
  color: #ddd;
}
.gearbox-card:hover span:nth-child(3) {
  font-weight: bold;
}
.gearbox-card span {
  transition: 0.2s;
}
.gearbox-card span:nth-child(1) {
  font-size: 2.7rem;
  line-height: 1em;
  color: #a10f2b;
}
.gearbox-card span:nth-child(3) {
  font-size: 1.7rem;
  line-height: 1em;
  transition: 0.2s;
}
.gearbox-link {
  text-decoration: none;
  margin-top: 0.5rem;
  font-size: 14px;
  border: 1px solid #a10f2b;
  color: #a10f2b;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  font-weight: 700;
  border-radius: 8px;
  transition: 0.2s;
}
.gearbox-link:hover {
  background: #a10f2b;
  color: #fff;
}
.search_area--result.hidden {
  width: 0;
  height: 0;
  padding: 0;
  opacity: 0;
  transition: 0.3s linear;
}
.search_area--result.hidden * {
  opacity: 0;
  transition: 0.1s linear;
}
.not-found .search-area--result-content {
  display: none;
}

.search_area-right {
  width: 40%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.7rem;
  color: #fff;
}

.search_area-right a {
  isolation: isolate;
  padding: 1rem;
  background: #2c3d55;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  gap: 0.5rem;
  transition: 0.2s;
  position: relative;
}
.search_area-right a::before {
  position: absolute;
  content: "";
  height: 100%;
  background: #d01337;
  width: 10%;
  left: 0;
  border-radius: 8px;
  z-index: -1;
  transition: width 0.2s ease;
}
.search_area-right span {
  transition: 0.2s ease;
}
.search_area-right a:hover span {
  text-align: center;
  flex: 1;
  font-weight: bold;
}
.search_area-right a:hover::before {
  width: 100%;
}
@media (max-width: 1100px) {
  .search_area {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }
}
@media (max-width: 768px) {
  .search_area-input-group {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.4rem 0.6rem;
  }
  .search_area-left {
    width: 100%;
  }

  .search_area-input-group button {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
  }
  .search_area-input-group input {
    outline: none;
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
  }
  .search_area-right {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7rem;
  }
  .search_area--result {
    flex-direction: column;
    text-align: center;
  }
  .search_area-right a::before {
    width: 15%;
  }
  .search_area-left--title {
    font-size: 18px;
  }
  .search-area--result-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .search_area-input-group {
    flex-direction: column;
    gap: 0.5rem;
  }
  .search_area-input-group input {
    border: 1px solid #ddd;
    font-size: 12px;
    width: 100%;
    border-radius: 4px;
    margin-top: 1rem;
    text-align: center;
  }
  .search_area-input-group button {
    width: 100%;
  }
  .search_area--result {
    border: none;
    padding: 0;
  }
  .gearbox-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0.6rem;
    margin-top: 1rem;
    flex-direction: column;
  }
  .gearbox-card {
    width: 100%;
  }
}
