@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.pac-container {
  box-shadow: 0 0 30px -12px rgb(0 0 0 / 25%);
  border-radius: 8px;
  border: none;
}
.pac-item {
  padding: 0.5rem;
}
.pac-item:nth-child(1) {
  border: none;
}
/* .pac-icon {
  font-size: 3rem !important;
  width: 30px;
} */
.pac-item-query {
  color: #2c3d55;
  font-weight: bold;
}
.search_area {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  max-width: min(95%, 1140px);
  margin: auto;
  box-shadow: 0 0 30px -12px rgb(0 0 0 / 25%);
  gap: 4rem;
  font-family: serif;
  border-radius: 8px;
  /* margin will be removed */
  margin-top: 3rem;
}
.search_area-left {
  display: grid;
  gap: 1rem;
  width: 50%;
}
.search_area-left--title {
  line-height: 1.5;
  font-weight: 400;
  font-size: 28px;
  color: #555;
  text-transform: capitalize;
}
.search_area-input-group {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #ddd;
  padding: 0.4rem 0.5rem;
  border-radius: 8px;
}

.search_area-input-group .location-icon {
  color: #2c3d55;
}
.search_area-input-group input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
}
.search_area-input-group button {
  border: none;
  padding: 0.6rem 1.4rem;
  border-radius: 8px;
  background: #2c3d55;
  color: #fff;
  font-size: 0.85714rem;
  transition: 0.2s;
}
.search_area-input-group button:hover {
  background: #d01337;
  cursor: pointer;
}
.search_area--result {
  background: #2c3d55;
  padding: 1.5rem 1.2rem;
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  border-radius: 8px;
  transition: 0.5s linear;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.search_area--result-left {
  flex-basis: 60%;
  display: grid;
  gap: 1rem;
}
.search_area--result-right .book {
  background: #a10f2b;
  border: none;
  outline: none;
  color: #fff;
  padding: 1.07143rem 2.14286rem;
  border-radius: 50px;
  font-weight: 700 !important;
  cursor: pointer;
  transition: 0.2s;
  font-size: 0.85714rem;
}
.search_area--result-right .book:hover {
  background: #d01337;
}
.search_area--result.hidden {
  width: 0;
  height: 0;
  padding: 0;
  opacity: 0;
  transition: 0.3s linear;
}
.search_area--result.hidden * {
  opacity: 0;
  transition: 0.1s linear;
}
.not-found .search_area--result-left {
  flex-basis: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.not-found .search_area--result-right .book {
  display: none;
}

.search_area-right {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.7rem;
  color: #fff;
}

.search_area-right a {
  isolation: isolate;
  padding: 1rem;
  background: #2c3d55;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  gap: 0.5rem;
  transition: 0.2s;
  position: relative;
}
.search_area-right a::before {
  position: absolute;
  content: "";
  height: 100%;
  background: #d01337;
  width: 20%;
  left: 0;
  border-radius: 8px;
  z-index: -1;
  transition: width 0.2s ease;
}
.search_area-right a:hover::before {
  width: 100%;
}
@media (max-width: 768px) {
  .search_area {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }
  .search_area-input-group {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.4rem 0.6rem;
  }
  .search_area-left {
    width: 100%;
  }

  .search_area-input-group button {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
  }
  .search_area-input-group input {
    outline: none;
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
  }
  .search_area-right {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7rem;
  }
  .search_area--result {
    flex-direction: column;
    text-align: center;
  }
  .search_area-right a::before {
    width: 15%;
  }
  .search_area-left--title {
    font-size: 18px;
  }
}
@media (max-width: 350px) {
  .search_area-input-group {
    flex-direction: column;
    gap: 0.5rem;
  }
  .search_area-input-group input {
    border: 1px solid #ddd;
    font-size: 12px;
    width: 100%;
    border-radius: 4px;
    margin-top: 1rem;
    text-align: center;
  }
  .search_area-input-group button {
    width: 100%;
  }
}
